@charset "UTF-8";


/*共通部分
ーーーーーーーーーーーーーーーーーーーーーー*/



html{
    font-size: 100%;    
}

body{
    font-family:"Yu Gothic Mediun","遊ゴシック　Medium",YuGothic,"遊ゴシック体","ヒラギノ角ゴ pro W3",sans-serif;
    line-height: 1.7;
    color: #432;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}