@charset "UTF-8";

body{
    font-size: 100%;    
}

.container{

    display: flex;
    flex-wrap: wrap;
}

.item{
    background-color:cadetblue;
    color: white;
    margin: 10px;
    padding: 10px;
}